* {
  font-family: 'Open Sans', sans-serif;
  /* border: 2px solid red; */
}

main {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

h1 {
  color: #E9E9F3;
  padding-left: 15px;
}

aside {
  /* padding-left: 15px; */
  height: 60em;
  width: 17em;
  /* display: flex;
  align-items: flex-start; */

  margin-right: 10px;
  background-color: #1F1F3D;
  padding-bottom: 20px;
}

#filter-ideas-button {
  font-weight: bold;
  color: #BFBFDD;
  background-color: #1F1F3D;
  display: flex;
  align-items: left;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 7px;
  padding-right: 25px;
}

#show-starred-ideas-button {
  background-color: #5356A5;
  font-size: large;
  color: #E9E9F3;
  margin-left: 20px;
  margin-right: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  font-weight: bold;
}

.function-buttons {
  /* padding-right: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
  width: 100%;
}

button {
  border: 0px;
  margin-bottom: 10px;
}
