* {
  font-family: 'Open Sans', sans-serif;
  /* border: 2px solid red; */
}

main {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

h1 {
  color: #E9E9F3;
  padding-left: 15px;
  font-size: xx-large;
}

h3 {
  font-weight: bold;
  margin-top: -35px;
}

aside {
  /* padding-left: 15px; */
  height: auto;
  width: 30%;
  /* display: flex;
  align-items: flex-start; */
  /* margin-right: 10px; */
  background-color: #1F1F3D;
  padding-bottom: 20px;
}

img {
  justify-content: space-between;
  height: 30px;
  width: 30px;
}

.close-card {
  height: 25px;
  width: 25px;
  padding: 2px;
}

.filter-ideas-button {
  font-weight: bold;
  color: #BFBFDD;
  background-color: #1F1F3D;
  display: flex;
  align-items: left;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 7px;
  padding-right: 25px;
}

.show-starred-ideas-button {
  background-color: #5356A5;
  font-size: large;
  color: #E9E9F3;
  margin-left: 20px;
  margin-right: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid #353567;
  border-radius: 2px;
}

.title-input {
  margin: 1em 15em;
  /* max-width: 35em; */
  height: 4em;
  border: 2px solid #5356a4;
  border-radius: 2px;
}

.body-input {
  margin: 1em 15em;
  height: 8em;
  /* max-width: 35em; */
  border: 2px solid #5356a4;
  border-radius: 2px;
}

.search-ideas-box {
  margin: 1em 15em;
  height: 50px;
  border: 2px solid #5356a4;
  border-radius: 2px;
  margin: 0 0 0 10px;
    width: 100%;
}

/* button {
  max-width: 35em;
} */

input {
  width: 45%;
}

.search-bar {
  display: flex;
  justify-content:flex-start;
  width: 45.5%;
  margin: 8px;
  height: 3.5em;
  border: 1px solid #5356a4;
  border-right: none;
  background-color: #353567;
}

.search-icon {
  align-self: flex-start;
  margin: 13px 0 0 10px;

}

.save-input {
    margin: 1em 11em;
    height: 3.5em;
    width: 45.5%;
    background-color: #353567;
    color: #E9E9F3;
    font-weight: bold;
    font-size: large;
    border: 2px solid #5356a4;
    border-radius: 2px;
}

.input-label {
  margin: 1em 10em -0.5em 12.5em;
  margin-right: 57%;
}


.function-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 35em; */
}

.idea-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #a9aad2;
}

.idea-display-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #eaeaf4;
  width: auto;
  height: auto;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.5em;
  padding-bottom: 8px;
  background-color: #1F1F3D;
}

.idea-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31.5%;
  height: 350px;
  margin: 10px;
  padding-bottom: 0px;
  border: 2px solid #1F1F3D;
  border-radius: 2px;
  background-color: #ffffff;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-top: -10px; */
  margin: 10px;
  height: 175px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  height: 1.5em;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #5356A4;
  color: #ffffff;
}

label {
  font-family: 'Open Sans', sans-serif;
  color: #201E3E;
  font-weight: bold;
}

button {
  border: 0px;
  margin-bottom: 10px;
}
